body {
    font-family: 'Noto Sans Tibetan';
}


@font-face {
	font-family: 'Noto Sans Tibetan';
	src: url('../font-profile/NotoSansTibetan.eot');
	src: url('../font-profile/NotoSansTibetan.woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Noto Sans Tibetan';
	src: url('../font-profile/NotoSansTibetan-Bold.eot');
	src: url('../font-profile/NotoSansTibetan-Bold.woff');
	font-weight: bold;
	font-style: normal;
}
