
/* Table Styles */

th {
    background-color:#D9DDE0;
    color: #3C586D
}

tbody {
    background: white;
}

td.col
{ 
   border-left:0px;
}

td {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}​